<div class="container">
<div style="position: relative">
  <%= link_to new_list_bookmark_path(@list), class: "card-add-link" do %>
    <i class="far fa-bookmark"> Add</i>
  <% end %>
</div>
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-movie">
        <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title %>
        <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: "NO more?" } do %>
        <i class="fas fa-skull"></i>
        <% end %>
        <div class="card-movie-infos">
          <div>
            <h2><%= bookmark.movie.title %></h2>
            <p><%= bookmark.movie.overview %></p>
          </div>
          <h2 class="card-movie-rating"><%= bookmark.movie.rating %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
