<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to '#', class: "navbar-brand" do %>
    <%= image_tag "https://cdn.dribbble.com/users/1251217/screenshots/16831509/media/24586a56bfa63fab11a2713518f3a4e4.jpg?compress=1&resize=1200x900" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "My lists", lists_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "New list", new_list_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://www.gannett-cdn.com/-mm-/f05c0193c3029192c349b06a1dbeea13322035a7/c=11-22-1059-617/local/-/media/USATODAY/GenericImages/2014/05/12//1399925165000-Screen-Shot-2014-05-12-at-22238-PM.jpg?width=660&height=375&fit=crop&format=pjpg&auto=webp", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "See lists", lists_path, class: "dropdown-item" %>
          <%= link_to "New List", new_list_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
